<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Bienvenue dans notre générateur de video!</h1>
        <p class="lead"></p>

        <div [ngSwitch]="isAuthenticated()">          
            <div>
                <p>Choisissez une vidéo parmis:</p>
                <div class="row">
                    <div class="col-md3">
                        <img src="http://localhost:8081/api/pic/Dragonstone" height="200" width="150">
                        
                    </div>
                    <div class="col-md3">
                        <img src="http://localhost:8081/api/pic/Harrenhal" height="200" width="150">
                    </div>
                    <div class="col-md3">
                        <img src="http://localhost:8081/api/pic/Pyke" height="200" width="150">
                    </div>
                    <div class="col-md3">
                        <img src="http://localhost:8081/api/pic/Riverrun" height="200" width="150">
                    </div>
                    <div class="col-md3">
                        <img src="http://localhost:8081/api/pic/The_Eyrie" height="200" width="150">
                    </div>
                </div>
                <fieldset id="group1">
                    <input type="radio" id="DragonStone" name="value1"  [(ngModel)]="check1" (change)="check1('DragonStone')" value="DragonStone">
                    <label for="Dragonstone">Dragonstone</label>
                    <input type="radio" id="Harrenhal"  name="value1" [(ngModel)]="check2" (change)="check1('Harrenhal')" value="Harrenhal">
                    <label for="Harrenhal">Harrenhal</label>
                    <input type="radio" id="Pyke"  name="value1" [(ngModel)]="check3" (change)="check1('Pyke')" value="Pyke">
                    <label for="Pyke">Pyke</label>                                        
                    <input type="radio" id="Riverrun"   name="value1" [(ngModel)]="check4" (change)="check1('Riverrun')" value="Riverrun">
                    <label for="Riverrun">Riverrun</label>
                    <input type="radio" id="The_Eyrie"   name="value1"[(ngModel)]="check5" (change)="check1('The_Eyrie')" value="The_Eyrie">
                    <label for="The_Eyrie">The Eyrie</label>
                </fieldset>
                <p>Choisissez une vidéo parmis:</p>
                <div class="row">                              
                    <div class="col-md3">
                        <img src="http://localhost:8081/api/pic/Braavos" height="200" width="150">
                    </div>
                    <div class="col-md3">
                        <img src="http://localhost:8081/api/pic/Dorne" height="200" width="150">
                    </div>
                    <div class="col-md3">
                        <img src="http://localhost:8081/api/pic/Meereen" height="200" width="150">
                    </div>
                    <div class="col-md3">
                        <img src="http://localhost:8081/api/pic/Moat_Cailin" height="200" width="150">
                    </div>
                </div>
                <fieldset id="group2">
                    <input type="radio" id="Braavos" value="Braavos" name="value2"  [(ngModel)]="check6" (change)="check2('Braavos')">
                    <label for="Braavos">Braavos</label>
                    <input type="radio" id="Dorne" value="Dorne" name="value2"  [(ngModel)]="check7" (change)="check2('Dorne')">
                    <label for="Dorne">Dorne</label>
                    <input type="radio" id="Meereen" value="Meereen"  name="value2" [(ngModel)]="check8" (change)="check2('Meereen')">
                    <label for="Meereen">Meereen</label>
                    <input type="radio" id="Moat_Cailin" value="Moat_Cailin"  name="value2" [(ngModel)]="check9" (change)="check2('Moat_Cailin')">
                    <label for="Moat_Cailin">Moat Cailin</label>
                </fieldset>
            </div>
            <a  class="btn btn-primary" id="generate" (click)="generate()">Generate</a>
            <video controls id='video' preload="metadata" width="100%" [(ngModel)]="video">
                <source src="{{src}}">
            </video>
        </div>
    </div>
</div>

